@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About Us";
}

<div class="content">
    <div class="main">

    <div>
        <center><h2>About Us</h2></center>
    </div>

    <div class="special-offers-section">
		<div class="container">
			<div class="special-offers-section-head text-center dotted-line">
				<h4>Special Offers</h4>
			</div>
			<div class="special-offers-section-grids">
				<div class="m_3"><span class="middle-dotted-line"> </span> </div>
				<div class="container">
					<ul id="flexiselDemo3">
					<li>
						<div class="offer">
							<div class="offer-image">	
								<img src="@Url.Content("~/Content/images/p1.jpg")" class="img-responsive" alt=""/>
							</div>
							<div class="offer-text">
								<h4>Olister Combo pack lorem</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
								<input type="button" value="Grab It">
								<span></span>
							</div>
							<div class="clearfix"></div>
						</div>
					</li>
					<li>
						<div class="offer">
							<div class="offer-image">	
								<img src="@Url.Content("~/Content/images/p2.jpg")" class="img-responsive" alt=""/>
							</div>
							<div class="offer-text">
								<h4>Chicken Jumbo pack lorem</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
								<input type="button" value="Grab It">
								<span></span>
							</div>
							<div class="clearfix"></div>
						</div>
					</li>
					<li>
						<div class="offer">
							<div class="offer-image">	
								<img src="@Url.Content("~/Content/images/p3.jpg")" class="img-responsive" alt=""/>
							</div>
							<div class="offer-text">
								<h4>Crab Combo pack lorem</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
								<input type="button" value="Grab It">
								<span></span>
							</div>
								
							<div class="clearfix"></div>
							</div>
					</li>
					<li>
						<div class="offer">
							<div class="offer-image">	
								<img src="@Url.Content("~/Content/images/p2.jpg")" class="img-responsive" alt=""/>
							</div>
							<div class="offer-text">
								<h4>Chicken Jumbo pack lorem</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
								<input type="button" value="Grab It">
								<span></span>
							</div>
								
							<div class="clearfix"></div>
							</div>
					</li>
					</ul>
				 
			</div>
		</div>
	</div>
	</div>

    </div>
</div>