@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "New Password";
}
@model WebsiteProject.Models.User
<!-- header-section-ends -->
	<!-- content-section-starts -->
	<div class="content">
	<div class="main">
	   <div class="container">
            @using (Html.BeginForm("changePassword", "Home", FormMethod.Post, new { enctype = "multipart/form-data"})) 
       {
		  <div class="register">
		  	 
				 <div class="register-top-grid">
					<h3>New Password</h3>
					 
					 
					 <div class="wow fadeInRight" data-wow-delay="0.4s">
						<span>@Html.Label("New Password")<label>*</label></span>
						@Html.TextBoxFor(model => model.password, null, new {   required="required", type="password"  }) 
						@Html.ValidationMessageFor(model => model.password)
                     </div>
                     <div>

                     </div>
                    
                     <div class="clearfix"></div>
				     <div class="register-bottom-grid">
						    
							 
					 </div>
				
				<div class="clearfix"> </div>
				<div class="register-but">
				   
					   <input type="submit" value="Submit">
                    
					   <div class="clearfix"> </div>
				   
                    </div>
            
				</div>
		   </div>
            }
	     </div>
	    </div>
    
